.container {
    padding: 100px 10%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.img{
    width: 40%;
    height: 400px;
    border-radius: 10px;
}
.textBlock{
    width: 50%;
}
.title{
    margin-top: 0;
    font-size: 32px;
}
.itemTitle{
    font-family: "Gilroy Bold";
    font-size: 18px;
    display: block;
}
.listItemHeader{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.itemSubtitle{
    display: block;
    padding-left: 26px;
}
.checkImg{
    height: 16px;
    width: 16px;
    margin-right: 10px;
}
.listItem{
    margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
    .container{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-top: 150px;
    }
    .img{
        width: 100%;
    }
    .textBlock{
        width: 100%;
    }
    .title{
        font-size: 26px;
        margin-bottom: 15px;
    }
}
