@font-face {
    font-family: "Gilroy Regular";
    src: url("/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy Medium";
    src: url("/fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy Bold";
    src: url("/fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
}
button:active{
    outline: none;
}
button:focus, input:focus, textarea:focus{
    outline: none;
}
body {
    margin: 0;
    font-family: "Gilroy Regular";
    color: #23262F;
}