.container{
    padding: 0 10%;
    background-image: url("/intro_block.png");
    background-position: center;
    background-size: cover;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.title{
    color: white;
    font-family: "Gilroy Bold";
    font-size: 48px;
    margin: 0;
    margin-top: -40px;
}
.subtitle{
    margin: 0;
    width: 50%;
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 30px 0;
}
.logo{
    height: 256px;
    width: 256px;
}
.btn{
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    color: white;
    font-family: "Gilroy Medium";
    border: none;
    width: 20%;
    padding: 20px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}
.static {
    position: absolute;
    background: #286F6C;
    padding: 50px;
    width: 80%;
    border-radius: 20px;
    bottom: -100px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}
.hr{
    height: 50px;
    width: 1px;
    background: white;
    border-radius: 5px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    color: white;
    height: 100px;
    width: 20%;
}
.cardTitle{
    margin: 0;
    padding: 0;
    font-family: "Gilroy Bold";
    font-size: 48px;
}


@media screen and (max-width: 767px){
    .logo {
        height: 228px;
        width: 228px;
    }
    .title{
        font-size: 28px;
        text-align: center;
    }
    .subtitle{
        width: 100%;
    }
    .btn{
        width: auto;
        padding: 15px 50px;
    }
    .static{
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        bottom: -200px;
    }
    .card{
        width: 45%;
        margin-bottom: 50px;
    }
    .mobileHr{
        display: none;
    }
    .cardTitle{
        font-size: 32px;
    }
    .cardSubtitle{
        font-size: 16px;
    }
}
