.container{
    padding: 50px 10%;
    background-image: url("/application_bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.form{
    width: 50%;
    color: white;
}
.title{
    font-size: 32px;
    margin-top: 0;
}
.inputs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 35px;
}
.input{
    width: 49%;
    box-sizing: border-box;
    font-family: "Gilroy Regular";
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 15px;
}
.textarea{
    width: 100%;
    resize: none;
    height: 64px;
}
.btn{
    font-family: "Gilroy Regular";
    background-color: #23262F;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
}
.footerTitle {
    font-family: "Gilroy Medium";
}
.footerWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link{
    color: white;
}
.error{
    display: block;
    margin: 15px 0;
    font-weight: bold;
}
@media screen and (max-width: 767px){
    .container{

    }
    .form{
        width: 100%;
    }
    .link{
        font-size: 10px;
    }
}