.header {
    padding: 0 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    width: 0;
    width: 100%;
    box-sizing: border-box;
    background: white;
    z-index: 10;
}
.menuList{
    display: flex;align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menuItem{
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 18px;
    padding: 20px 15px;
    text-decoration: none;
    color: #23262F;
    transition: 0.5s;
}
.menuItem:hover, .logoLink:hover{
    color: #286F6C;
}
.logo{
    width: 20%;
}
.menu{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.waBlock{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.logoLink{
    text-decoration: none;
    color: #23262F;
    font-family: 'Gilroy Bold';
    font-size: 22px;
    transition: 0.5s;
}
.logoLink > h2 {
    margin: 0;
}
.waIcon{
    height: 42px;
    width: 42px;
}
.menuIcon, .block{
    display: none;
}
.mobileMenu{
    height: 0;
    width: 0;
    overflow: hidden;
    transition: 0.3s;
}

@media screen and (max-width: 767px){
    .header{
        /*display: none;*/
        flex-wrap: wrap;
        padding: 10px 10%;
    }
    .menuIcon{
        display: block;
        height: 24px;
        width: 24px;
        width: 24px;
    }
    .logo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logoLink{
        font-size: 18px ;
    }
    .menu{
        display: none;
    }
    .mobileMenu{
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .menuList{
        flex-direction: column;
        align-items: flex-start;
    }
    .menuItem{
        padding: 5px 0;
    }
    .waBlock{
        display: none;
    }
    .block{
        display: block;
    }
}