.container {
    padding:  0 10%;

}
.titleBlock{
    text-align: center;
}
.title{
    font-size: 32px;
    margin-top: 0;
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    width: 21%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    flex-direction: column;
}
.cardTitle{
    font-family: "Gilroy Regular";
}

@media screen and (max-width: 767px) {
    .card{
        width: 49%;
    }
    .icon{
        height: 48px;
        width: 48px;
    }
}